body{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reddit.com%2Fr%2Fclevelandcavs%2Fcomments%2F8gv48o%2Flebronto_because_he_owns_them%2F&psig=AOvVaw0DwpE68qYbzgS1_kI9csLJ&ust=1725754344308000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOCnyI_Gr4gDFQAAAAAdAAAAABAE');
}

.fundo-imagem {
    
    background-size: cover; /* Ajusta a imagem para cobrir a área do elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100%; /* Define a largura do elemento */
    height: 200px; /* Define a altura do elemento */
    color: #fff; /* Define a cor do texto para contraste */
    display: flex; /* Usa flexbox para centralizar o texto */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
}

    .alinhamento{
    display: flex;
    flex-direction: column;
    }