body{
    background-image: url('lebronto.png');
    background-size: cover; /* Ajusta a imagem para cobrir a área do elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100%;
    height: 100%;
}

.fundo-imagem {
    
    
    width: 100%; /* Define a largura do elemento */
    height: 200px; /* Define a altura do elemento */
    color: #fff; /* Define a cor do texto para contraste */
    display: flex; /* Usa flexbox para centralizar o texto */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
}

    .alinhamentoesq{
    display: flex;
    flex-direction: column;
    }

    .titulo{
        text-align: center;
    }
    .alinhamentodir{
        display: flex;
        flex-direction: column;
        margin-left: 600px;
        
    }
    .alinhamentoesquerda{
        display: flex;
    }